/* #graph_bg {
    padding: 24px;
    background-color: rgba(31, 38, 46, 0.15) !important;
    border: 1px solid rgba(59, 74, 89, 0.2) !important;
    margin: 3%;
    width: fit-content;
} */

/* #graphs_dashboard {
    display: ruby;
  }
   */
  /* #graph_bg {
    flex: 0 0 calc(50% - 20px);
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
  }
  
  @media screen and (max-width: 768px) {
    #graph_bg {
      flex: 0 0 100%;
    }
  } */
  #graphs_dashboard {
    display: ruby;
    flex-wrap: wrap;
    gap: 20px;
    
  }
  
  #graph_bg {
    /* flex: 0 0 calc(50% - 20px); */
     /* Add !important to ensure it overrides any other styles */
     padding: 24px;
     background-color: rgba(31, 38, 46, 0.15) !important;
     border: 1px solid rgba(59, 74, 89, 0.2) !important;
     margin: 3%;
     width: fit-content;
    /* padding: 20px; */
    border-radius: 10px;
    outline: none;
  }
  
  
  @media screen and (max-width: 768px) {
    #graph_bg {
      flex: 0 0 100%;
    }
  }
  
  .dashboard {
    display: flex;
    justify-content: space-around;
  }
  
  .box {
    width: 385px;
    padding: 20px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(31, 38, 46, 0.15) !important;
     border: 1px solid rgba(59, 74, 89, 0.2) !important;
     margin: 3%;
     width: fit-content;
    /* padding-top: 0;
    padding-bottom: 0; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }