#files{
    background-color: rgba(31, 38, 46, 0.1);
    /* opacity: 1; */
    -webkit-backdrop-filter: blur(37px);
    backdrop-filter: blur(37px);
    color: white;
    /* border: white; */
    border-radius: 18px;
    padding: 5%;
    border-color: rgba(59, 74, 89, 0.2);
    position: relative;
}